<a href="https://colab.research.google.com/github/Oaccioly/Bank_System/blob/main/BankSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas

In [125]:
import pandas as pd

# Setup

In [212]:
ids = []
accounts_df = pd.DataFrame({"Id": [],
                         "Name": [],
                         "Balance": [}) 

accounts = accounts.append(pd.DataFrame({"Id": ["200-2"],
                                        "Name": ["Gabriela"],
                                        "Balance": [5000]}, index = [accounts.last_valid_index()+1]))

accounts

      Id      Name  Balance
0  200-1   Gabriel     2000
1  200-2  Gabriela     5000

1

In [127]:
def ids_generator():
    try:
        ids.append("202-" + str(int(ids[-1].split("-")[1]) + 1))
        return ids[-1]

    except IndexError:
        ids.append("202-0")
        return ids[-1]

In [214]:
def to_dataframe(id, name, balance):
    if accounts_df.isna:
        accounts_df = pd.DataFrame({"Id": [id],
                                    "Name": [name],
                                    "Balance": [balance]}) 
        
    else:
        accounts_df = accounts_df.append(pd.DataFrame({"Id": [id],
                                                       "Name": [name],
                                                       "Balance": [balance]},
                                                        index = [accounts.last_valid_index()+1]))

In [ ]:
ids = []
accounts_df = pd.DataFrame({"Id": [],
                         "Name": [],
                         "Balance": [}) 

accounts = accounts.append(pd.DataFrame({"Id": ["200-2"],
                                        "Name": ["Gabriela"],
                                        "Balance": [5000]}, index = [accounts.last_valid_index()+1]))

accounts

      Id      Name  Balance
0  200-1   Gabriel     2000
1  200-2  Gabriela     5000

# Classes

## Classe sistema

In [128]:
class Sistema:
    pass

## Classe conta

In [129]:
class Account:
    def __init__(self, Name, Balance = 0):
        self.__id = ids_generator()
        self._name = Name.title()
        self.__balance = Balance
        print(f"Account {self.__id} created in the name of {self._name}\n"
              f"Balance: {self.__balance}")

    def __str__(self):
        return f"Account de id {self.__id} in the name of {self._name}"

    @property
    def balance(self):
        return self.__balance

    @balance.setter
    def balance(self, amount: int):
        self.__balance = amount

    def statement_balance(self):
        print(f"Balance: $ {self.__balance}")
        return self.__balance
    
    def withdrawn(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
            print(f"Amount withdrawn: {amount}")
            self.statement_balance()

    def deposit(self, amount: int):
        self.__balance += amount
        self.statement_balance()

In [130]:
account = Account("Gabriel", 2000)

Account 202-0 created in the name of Gabriel
Balance: 2000

In [131]:
account.withdrawn(200)

Amount withdrawn: 200
Balance: $ 1800

In [132]:
account.deposit(200)

Balance: $ 2000

In [133]:
print(account)

Account de id 202-0 in the name of Gabriel